* {
    margin: 0 ;
}
/* header {
    background-color: black;
    }
*/
/* .swagatPic {
    width: 150px;
    height: 115px;
    float:left;
    clear:both;
    padding:5px;
    position: absolute;
    left: -300px;

 } */


nav {
    background-color: black; 
    text-align: right;
    position: fixed;
    top: 0%;
    width: 100%;
}

/* .swagatName {
    color: white;
    display: inline-block;
    margin: 30px 950px 30px 0;
    font-size: 24px;
    } */

nav ul li {
    color: white;
    text-decoration: none; 
    list-style-type: none;
    display: inline-block;
    font-size: larger;
    padding-left: 15px;
    /* padding-bottom: 10px; */
    }

nav ul {
    margin-right: 5%;
}

main li:hover {
    background-color: lightcyan;
}

/* 
nav:hover {
    transition-delay: 0.5s;
    background-color: silver;
}

nav:hover li{
    color: black;
    
    }

nav:hover; .swagatPic{
    transform: translate(300px,0);
    transition: all 0.6s linear;
}

nav:hover .swagatName{
    color: gold; 
}

li:hover {
    background-color: darkgray;
} */

body {
    background-color: teal;
}

section {
    margin: 2%;
    border: 2px solid black;
    border-radius: 10px;
}

.education {
    background-color: lightgreen;

}
section h3 {
    text-align: center;
}

.line {
    background-color: purple;
    padding: 1px;
    display: block;
}
/* ---------Image Styles------------- */

/* ----------------------------------*/

/* -----------------Education +more Divs --------*/

.div1 {
    background-color: yellow;
}

.div2 {
    background-color: yellow; /* Change to form a pattern with div1. */

}

/* -------------------------------- --------*/


/* -----------------Experience Divs --------*/
.experience {
    background-color: lightblue;
}

.exp1 {
    background-color: gold;
}

.exp2 {
    background-color: gold;
}
/* ------------------------------- --------*/

/* -------------------Projects Div --------*/
.projects {
    background-color: lightcoral;
}

.proj1, .proj2 {
    background-color: darksalmon;
}

/*----------------------Organization ----*/
section > div {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2%;
}

section > div:nth-child(even){
    flex-direction: row-reverse;
}

section img {
    flex: 1;
    width: 30%;
    height: 30%;
    margin: 0;

}

section > div div:nth-child(even) { /* The text portion of the div */
    flex: 4;
    margin: 2%;
    font-size: 2.0vw;
    /* border: 2px solid red; */
}
/*------------------------- ---------*/
div h5 {
    text-align: center;
}
.content{
    display: flex;
    width: 100%;
    /* margin-top: 40px; */
}
.whitespace {
    flex: 1;

}
aside{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 2vw;
    border: 2px solid black;
    text-align: center;
    margin: 1%;
    position: fixed;
    top: 10%;
    left: 0;
    bottom: 0;
    width: 9%

}

aside span {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 1px solid black;
    text-align: center;

}

main{
    flex: 9;
}

/* --------- Sticky Scroll --------*/

/* Style the navbar */
/* #navbar {
    overflow: hidden;
    background-color: #333;
  } */
  
  /* Navbar links */
  /* #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  } */
   
  /* Page content */
  /* .content {
    padding: 16px;
  } */

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  /* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  /* .sticky + .content {
    padding-top: 60px;
  } */
/* -----------------------------*/

.progress {
    /* display: flex; */
    height: 0;
    width: 9%;
    background-color: teal;
    margin: 1%;
    position: fixed;
    top: 10%;
    left: 0;
    animation: progress 1s linear;
  }
@keyframes progress {
    to {
        background-color: rgb(255, 0, 0);
        /* Height is 100% of the window - 1% top margin - 1% bottom margin - 10% offset from top. */
        height: calc(100% - 2% - 10%);
    }
}

:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
/* To fix issue with progress bar overfill: */
  @media only screen and (min-width: 750px) {
    @keyframes progress {
        to {
            background-color: rgb(255, 0, 0);
            /* (Height is 100% of the window - 2% margins - 10% offset from top.) - 1% for error */
            height: calc(100% - 2.5% - 10%);
        }
    }
  }

  @media only screen and (min-width: 900px) {
    @keyframes progress {
        to {
            background-color: rgb(255, 0, 0);
            /* (Height is 100% of the window - 2% margins - 10% offset from top.) - 1% for error */
            height: calc(100% - 3% - 10%);
        }
    }
  }

  @media only screen and (min-width: 1000px) {
    @keyframes progress {
        to {
            background-color: rgb(255, 0, 0);
            /* (Height is 100% of the window - 2% margins - 10% offset from top.) - 1% for error */
            height: calc(100% - 4% - 10%);
        }
    }
  }
